
.timeline {
    list-style: outside none none;
    padding: 20px 0;
}
.profile-cover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
}
.rb-status-box {
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.176);
    position: relative;
}
.timeline-title {
    color: inherit;
    margin-top: 0;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    padding: 20px;
}
.timeline-body > p + p {
    margin-top: 5px;
}
.timeline-footer {
    background-color: #f4f4f4;
    padding:10px 20px;
}
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline-header {
    background-color: #f4f4f4;
    padding: 10px;
}
.shareForm {
    width: 100%;
}
.shareForm .share-form {
    padding: 2%;
}
.shareForm .share {
    background: white none repeat scroll 0 0;
    border: 2px solid #dddddd;
    clear: both;
    margin-bottom: 10px;
    position: relative;
    min-height: 70px;
    transition: height 0.1s ease-out 0s;
}
.shareForm .share .arrow {
    background: #dddddd url("../img/arrow.png") no-repeat scroll 0 0;
    display: inline;
    height: 10px;
    left: 4px;
    position: absolute;
    top: -10px;
    transition: all 0.3s ease-out 0s;
    width: 14px;
}
.shareForm .post-types li a {
    color: #085083;
    text-decoration: none;
}
.shareForm .post-types li a.active {
    color: #404040;
}
.shareForm .post-types {
    padding-left: 5px;
}
.shareForm ul {
    list-style: outside none none;
    margin-bottom: 9px;
}
.shareForm .post-types li {
    display: inline;
    margin-right: 10px;
}
.shareForm input[type="text"] {
    border: medium none;
}
.shareForm .message {
    border:none;
    box-shadow: none;
}
.mg-top {
    margin-top: 10%;
}
.map_canvas {
    height: 150px;
}
.videowrapper {
    clear: both;
    float: none;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;
}
.videowrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.timeline.affix {
    width: 33%;
}
@media (max-width: 767px) {
.timeline.affix {
    position: static;
    top: 0;
    width: auto;
}
}

/*Upload file area*/
#photos-box {padding-top:3px;border-top: solid 1px #f1f1f1}
#photos-box .file-wrapper{
    margin: 0px 3px 3px 3px;
    width:100px;
    height:100px;
    display: inline-block;
    margin-right: 1px;
    position: relative;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
#photos-box .upload-statusbar {
    width:100%;
    display: inline;
    position: absolute;
    text-align: center;
    vertical-align: top;
}
#photos-box .upload-statusbar .upload-progress {
position: absolute;
width: 99%;
border: 1px solid #d5d5d5;
border-radius: 0px;
bottom:5px;
}
#photos-box .upload-statusbar .upload-bar {
background-color: #286090;
width: 0;
height: 9px;
font-size: 0.7em;
border-radius: 0px;
color:#FFFFFF;
}
#photos-box #file-row {
    /*min-height: 104px; */
}
#photos-box #file-row .img-preview img{
    width:100px; 
    height:100px;
}

#photos-box #file-row .btn-file-del {
    position :absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    z-index: 10;
}

/* link-preview */
#link-preview {padding: 10px;}
#link-preview-indicator {display: none;position: absolute;top:8px;right:5px;}

.link-preview-wrapper {padding:10px;position: relative;}
.link-preview-wrapper .preview-box {display: none;}
.preview{
 padding: 5px;
 width: 100%;
 color: black;
 font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
 font-size: 12px;
 padding-bottom: 8px;
 padding-top: 8px;
 display: none;
 border: 1px solid #b3b3b3;
 border-top: 0px;
 border-bottom: 1px solid #e6e6e6;
 float: left;
}
.previewImages, .previewImage{
 width: 130px;
 margin-right: 12px;
 float: left;
 color: transparent;
}
.previewButtons{
 display: none;
 margin-bottom: 39px;
 margin-top: 12px;
}
.previewContent{
 font-size: 11px;
 width: 355px;
 float: left;
}
.previewTitle{
 font-weight: bold;
 font-size: 14px;
 margin: 0 auto 2px auto;
}
.previewTitle a{
 margin: 0 auto 0 auto;
}
.previewUrl{
 color: #666;
 font-size: 11px;
 margin: 0 auto 9px auto;
 white-space: nowrap;
}
.previewDescription{
 margin: 0 auto 8px auto;
}
.previewTitle span, .previewDescription span{
 cursor: pointer;
 word-break: break-word;
}
.photoNumbers{
 font-size: 10px;
 margin-top: 5px;
 float: left;
 margin-right: 10px;
}
.chooseThumbnail{
 font-size: 10px;
 color: #999;
 margin-top: 5px;
 float: left;
}
.previewLoading{
 position: absolute;
 right : 13px;
 top : 10px;
 border: 1px solid transparent;
 height: 12px;
}
.linkPreview, #retrieveFromDatabase{
 margin: auto;
 width: 525px;
}
.noThumbDiv{
 color: #333;
 font-size: 11px;
}
.noThumbCb{
 vertical-align: -2px;
 margin-right: 4px;
 margin-left: 0px;
 float: left;
}
.nT{
 float: left;
 width: 270px;
 margin-top: 3px;
 cursor: pointer;
}
.inputPreview{
 margin-left: -2px;
 font-size: 11px;
 padding: 3px 1px;
}
.text{
 width: 100%;
 height: 60px;
 border: 1px solid #b3b3b3;
 border-bottom: 1px solid #e6e6e6;
 resize: none;
 font-family: Arial;
 padding: 5px;
 color: grey;
}
.closePreview{
 float: right;
 background-image: url('../img/close.png');
 background-repeat: no-repeat;
 background-position: left 0px;
 height: 15px;
 width: 15px;
 cursor: pointer;
}
.closePreview:hover{
 background-image: url('../img/close.png');
 background-repeat: no-repeat;
 background-position: left -32px;
}
.closePreview:active{
 background-image: url('../img/close.png');
 background-repeat: no-repeat;
 background-position: left -48px;
}
.videoPostPlay{
 background-image: url('../img/play.png');
 bottom: 5px;
 height: 26px;
 left: 5px;
 width: 35px;
 float: left;
 z-index: 1;
 margin-left: 5px;
 margin-top: -31px;
}




